/*------------------------------------CSS for Home Page----------------------------------------*/

/*------------------------------------Creating Grid Layout-------------------------------------*/
@media screen and (min-width: 320px) and (max-width:767px) {	/* Media Query for screens larger than 320px and smaller than 768px (Base mobile styling)*/
		.gridContainer{					/* specifying grid layout design*/							
		display: grid;
		grid-gap: 10px;					/* setting a 10 pixel gap between grid cells*/
		grid-template-rows: auto;		/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 1fr 3fr; /* setting width of the columns*/
		grid-template-areas:
			"header header"			/* setting 2 columns, 5 rows*/	
			"nav nav"
			"main main"
			"aside aside"
			"footer footer";
		}
			/* assigning HTML items into the named grid template areas*/
			header {				
				grid-area:header;
				background-color: red;		/* setting red background color */
			}

			nav {
				grid-area:nav;
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
				background-color: red;		/* setting red background color */
			}
			

			main{
				grid-area:main;
				background-color: white;	/* setting white background color */
				font-family: arial;			/* setting arial font */

			}

			aside {
				grid-area: aside;
				background-color:red;		/* setting red background color */
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
			}

			footer {
				grid-area:footer;
				font-family: arial;			/* setting arial font */
				color: white;				/* setting text color to white */
				background-color: red;		/* setting red background to red */
				font-weight: bold;			/* setting text to bold */
			}
}
	
@media screen and (min-width: 768px) and (max-width:1023px){	/* Media Query for screens larger than 768px and smaller than 1024px*/
		.gridContainer{					/* specifying grid layout design*/									
		display: grid;				
		grid-gap: 10px;					/* setting a 10 pixel gap between grid cells*/
		grid-template-rows: auto;		/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 1fr 3fr; /* setting width of the columns*/
		grid-template-areas:		
			"header nav"			/* setting 2 columns, 3 rows*/
			"aside main"
			"footer footer";
		}
			
			/* assigning HTML items into the named grid template areas*/
			header {
				grid-area:header;
				background-color: red;		/* setting red background color */
			}

			nav {
				grid-area:nav;
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
				background-color: red;		/* setting red background color */
			}
			

			main{
				grid-area:main;
				background-color: white;	/* setting white background color */
				font-family: arial;			/* setting arial font */

			}

			aside {
				grid-area: aside;
				background-color:red;		/* setting red background color */
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
			}

			footer {
				grid-area:footer;
				color: white;				/* setting text color to white */
				font-family: arial;			/* setting arial font */
				background-color: red;		/* setting red background color */
				font-weight: bold;			/* setting text to bold */
			}
}

@media screen and (min-width: 1024px) {	/* Media Query for screens 1024 pixels or larger**/
		.gridContainer{									/* specifying grid layout design*/						
		display: grid;
		grid-gap: 10px;									/* setting a 10 pixel gap between grid cells*/
		grid-template-rows: auto;						/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 0.7fr 1.5fr 1.5fr;		/* setting width of the columns*/
		grid-template-areas:
			"header nav nav"							/* setting 3 columns, 3 rows*/
			"aside main main"
			"footer footer footer";
		}

			/* assigning HTML items into the named grid template areas*/
			header {
				grid-area:header;
				background-color: red;		/* setting red background color */
				
			}

			nav {
				grid-area:nav;
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
				background-color: red;		/* setting red background color */
			}

			main{
				grid-area:main;
				background-color: white;	/* setting white background color */
				font-family: arial;			/* setting arial font */

			}

			aside {
				grid-area: aside;
				background-color:red;		/* setting red background color */
				font-family: arial;			/* setting arial font */
				text-align: center;			/* alligning text to centre */
			}

			footer {
				grid-area:footer;
				color: white;				/* setting color of text to white */
				font-family: arial;			/* setting arial font */
				background-color: red;		/* setting red background color */
				font-weight: bold;			/* setting font to bold */
			}
}

/*-----------------------------------CSS for header section-------------------------------------*/

@media screen and (min-width: 320px) and (max-width:767px) {	/* styling for header for screens larger than 320px and smaller than 768px (Base mobile styling) */
	header img {
		display: block;					/* Displaying logo */
		width: 240px;					/* Sizing */
		height: 120px;
		margin-left: auto;				/* Positioning */
		margin-right: auto;
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {	/* styling for header for screens larger than 768px and smaller than 1024px*/
	header img {
		display: block;					/* Displaying logo */
		width: 240px;					/* Sizing */
		height: 105px;
		margin-left: auto;				/* Positioning */
		margin-right: auto;
		padding-top: 10%;				/* 10% Padding */
		}
}

@media screen and (min-width: 1024px) {	/* styling for header for screens larger than 1024 pixels */
	header img {						/* Displaying logo */
		display: block;					
		width: 260px;					/* Sizing */
		height: 115px;
		margin-left: auto;				/* Positioning */
		margin-right: auto;
	}
}

/*-------------------------------------CSS for Nav section -------------------------------------*/

@media screen and (min-width: 320px) and (max-width:767px) { /* styling for navigation for screens larger than 320px and smaller than 768px (Base mobile styling) */
	ul {								/* Styling navigation list*/
		list-style: none;				/* removing bullet points */
		width: 100%;
		background-color: red;			/* setting color to red to blend with header color */
		padding: 0px;
	}
	
	li a {								/* Styling navigation list "buttons" */
		display: block;
		color: white;					/* setting list text color to white */
		text-decoration: none;			
		padding: 8px 16px;
	}
	
	li a:hover {						/* Styling navigation once hovered on*/
		text-decoration: underline;		/* Underlining text if hovered on */
	}
	
	li a.current{						/* Styling navigation once selected on*/
		color: black; 					/* Changing color of text if specific page is selected */
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {	/* styling for navigation for screens larger than 768px and smaller than 1024px*/
	ul {								/* Styling navigation list*/
		list-style: none;				/* removing bullet points */
		width: 100%;
		background-color: red;			/* setting color to red to blend with header color */
		padding: 0px;
	}
		
	li a {								/* Styling navigation list "buttons" */
		display: block;  
		color: white;					/* setting list text color to white */
		padding: 8px 16px;
		text-decoration: none;

	}
	
	li a:hover {						/* Styling navigation once hovered on*/		
		text-decoration: underline;		/* Underlining text if hovered on */
	}
	
	li a.current{						/* Styling navigation once selected on*/
		color: black; 					/* Changing color of text if specific page is selected */
	}
}

@media screen and (min-width: 1024px) {	/* styling for navigation for screens larger than 1024 pixels */
		/* changing navigation styling from vertical to horizontal  */
	ul {								/* Styling navigation list*/
		padding-top: 10px;
		list-style: none;				/* removing bullet points */
		font-size: 1.5em;
		background-color: red;			/* setting color to red to blend with header color */
		
	}

	li {
		padding-left: 5%;				
		float: left;					/* floating the list "buttons" to the left */
	}

	li a {								/* Styling navigation list "buttons" */
	  display: block;
	  color: white;
	  padding: 12px 30px;
	  text-decoration: none;

	}

	li a:hover {							/* Changing design of navigation when hovered on */
	  text-decoration: underline;			/* Underlining text if hovered on */
	}
	
	li a.current{						/* Styling navigation once selected on*/
		color: black; 					/* Changing color of text if specific page is selected */
	}
}

/*------------------------------------CSS for main section--------------------------------------*/

@media screen and (min-width: 320px) and (max-width:767px) { /* styling for main for screens larger than 320px and smaller than 768px (Base mobile styling) */
	main h1 {								/* Styling main heading of the page */
		text-align: center;					/* Setting text to center */
		font-size: 1.5em;					/* Setting size of text */
		padding-top: 1%;					
		padding-left: 15px;
		font-weight: bold;					/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;		/* Setting shadow of text*/
	}

	main h2 {								/* Styling subheading of the page */
		text-align: center;					/* Setting text to center */
		font-size: 1em;						/* Setting size of text */
		padding-left: 2%;
		padding-top: 10%;
		font-weight: bold;					/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;		/* Setting shadow of text*/
		text-decoration: underline;			/* Styling text with underline*/
		font-style: italic;					/* Setting text to italic*/
	}
	

	main p {								/* Setting styling for the paragraphs of info*/
		font-family: Helvetica;				/* Specifying font type*/
		text-align: left;					/* Alligning text to left side of screen */
		padding-left: 2%;					
		font-size: 1em;						/* Setting size of text */
	}
			
	.toys2 {								/* Styling image of a lego figure*/
		float: right;						/* Floating image to right side of the screen*/
		max-height: 100%;
		padding-top: 5%;
		width: 55%;							/* Sizing of image */
		height: auto;
	}
	
	.toys1, .toys3{							/* Setting other images display to none (making them disappear */
		display: none;
	}
}


@media screen and (min-width: 768px) and (max-width:1023px) {	/* styling for main for screens larger than 768px and smaller than 1024px*/

	main h1 {									/* Styling main heading of the page */
		text-align: center;						/* Setting text to center */
		font-size: 2.2em;						/* Setting size of text */
		padding-top: 1%;
		padding-left: 15px;
		font-weight: bold;						/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;			/* Setting shadow of text*/
	}

	main h2 {									/* Styling subheading of the page */
		text-align: center;
		font-size: 1.4em;						/* Setting size of text */
		padding-left: 15px;
		font-weight: bold;						/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;			/* Setting shadow of text*/
		text-decoration: underline;				/* Styling text with underline*/
		font-style: italic;						/* Setting text to italic*/
	}

	main p {									/* Setting styling for the paragraphs of info*/
		font-family: Helvetica;					/* Specifying font type*/
		text-align: left;						/* Alligning text to left side of screen */
		padding-left: 20px;
		font-size: 1.2em;						/* Setting size of text */
	}
		.toys1 {								/* Styling image of toystory figures*/
		float: right;							/* Floating image to right side of the screen*/
		max-height: 100%;
		padding-top: 5%;
		width: 45%;								/* Sizing of image */
		height: auto;
	}
		
	.toys2, .toys3{
		display: none;							/* Setting other images display to none (making them disappear */
	}

}

@media screen and (min-width: 1024px) {	/* styling for main for screens larger than 1024 pixels */
	main h1 {									/* Styling main heading of the page */
		text-align: left;						/* Setting text to left */
		font-size: 2.5em;						/* Setting size of text */
		padding-top: 1%;						/* Adding 1% padding from the top */
		padding-left: 2%;						/* Adding 2% padding from the left */
		font-weight: bold;						/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;			/* Setting shadow of text*/
	}

	main h2 {									/* Styling subheading of the page */
		text-align: left;
		font-size: 1.6em;						/* Setting size of text */
		padding-left: 2%;
		font-weight: bold;						/* Setting font weight of text to bold*/
		text-shadow: 3px 3px 5px gray;			/* Setting shadow of text*/
		text-decoration: underline;				/* Styling text with underline*/
		font-style: italic;						/* Setting text to italic*/
	}

	main p {									/* Setting styling for the paragraphs of info*/
		font-family: Helvetica;					/* Specifying font type*/
		font-size: 1.5em;						/* Setting size of text */
		text-align: left;						/* Alligning text to left side of screen */
		padding-left: 2%;
	}
	
	
	.toys3 {									/* Styling image of a lightning mcqueen figure*/
		float: right;							/* Floating image to right side of the screen*/
		max-height: 100%;
		padding-top: 5%;
		padding-right: 100px;
		width: 30%;								/* Sizing of image */
		height: auto;
	}
	
	.toys1, .toys2 {
		display: none;							/* Setting other images display to none (making them disappear */
	}
	
}

	
/*------------------------------------CSS for aside section--------------------------------------*/

.NewsPics {					/* Styling image 1 */
	margin: auto;			/* positioning */
	max-height: 100%;		/* sizing */
	max-width: 75%;			/* sizing */
	height: auto;			/* sizing */
}

.NewsPics2 {				/* Styling image 2 */
	margin: auto;			/* positioning */
	max-height: 100%;		/* sizing */
	max-width: 75%;			/* sizing */
	height: auto;			/* sizing */
}
	
aside h2{					/* Styling heading 2 of home page aside section */
	font-size: 1.5em;
	color: white;
	text-shadow: 3px 3px 5px black;
}

aside h3 {					/* Styling heading 3 of home page aside section */
	color: white;
}

/*------------------------------------CSS for footer section----------------------------------------*/
footer h2 {
	padding-left: 5px;		/* Styling heading of footer with a 5px padding to the left */
}

footer p {					/* Styling text of footer  */
	font-weight: normal;	/* Setting font weight to normal  */
	padding-left: 5px;		/* Adding a 5 pixel padding from the left */
	line-height: 0.5;		/* Setting line height to half of relative font size */
}
/*------------------------------------End of CSS for Home Page--------------------------------------*/


/*------------------------------------CSS for View Toys Page----------------------------------------*/

@media screen and (min-width: 320px) and (max-width:767px) {	/* styling for screens larger than 320px and smaller than 768px (Base mobile styling) */

	.flexContainer{						/* Styling the flexContainer class  */
		width: 98%;						/* Setting the width to 98% */
		display: flex;					/* Setting display to flex */
		flex-direction: row;			/* Setting flex direction to row */
		flex-wrap: wrap;				/* Setting flex wrap */
		justify-content: space-around;  /* Alligning flexible items to have space around them */
		
	}
	.toy {								/* Styling the toy class */
		background-color: red;			/* Setting red background color */
		margin-bottom: 12px;			/* Adding a 12 pixel margin to the bottom of each toy listing*/
		padding: 8px;					/* Adding 8 pixel padding */
		width: 80%;						/* Setting a width of the toy class to 80% */
		font-family: arial;				/* Setting font type to arial */
	
	}

	.ToyName{							/* Styling the toy name span class */
		text-align: center;				/* Setting the toy name to be alligned in the centre */
		font-weight: bold;				/* Setting the toy name to bold */
		font-size: 22px;				/* Setting the font size to 22 pixels */
		color: white;					/* Setting the font color to white  */
	}


	.ToyPrice {							/* Styling the toy price span class */
		font-weight: bold;				/* Setting the toy price to bold  */
		text-decoration: underline;		/* Underlining the toy price */
	}
	
}

@media screen and (min-width: 768px) and (max-width:1023px) {	/* styling for screens larger than 768px and smaller than 1024px*/

	.flexContainer{						/* Styling the flexContainer class  */
		width: 98%;						/* Setting the width to 98% */
		display: flex;					/* Setting display to flex */
		flex-direction: row;			/* Setting flex direction to row */
		flex-wrap: wrap;				/* Setting flex wrap */
		justify-content: space-around;  /* Alligning flexible items to have space around them */
		
	}
	.toy {								/* Styling the toy class */
		background-color: red;			/* Setting red background color */
		margin-bottom: 12px;			/* Adding a 12 pixel margin to the bottom of each toy listing*/
		padding: 8px;					/* Adding 8 pixel padding */
		width: 80%;						/* Setting a width of the toy class to 80% */
		font-family: arial;				/* Setting font type to arial */
	
	}

	.ToyName{							/* Styling the toy name span class */
		text-align: center;				/* Setting the toy name to be alligned in the centre */
		font-weight: bold;				/* Setting the toy name to bold */
		font-size: 22px;				/* Setting the font size to 22 pixels */
		color: white;					/* Setting the font color to white  */
	}


	.ToyPrice {							/* Styling the toy price span class */
		font-weight: bold;				/* Setting the toy price to bold  */
		text-decoration: underline;		/* Underlining the toy price */
	}
	
}

@media screen and (min-width: 1024px) {	/* styling for screens larger than 1024 pixels */

	.flexContainer{						/* Styling the flexContainer class  */
		width: 90%;						/* Setting the width to 90% */
		display: flex;					/* Setting display to flex */
		flex-direction: row;			/* Setting flex direction to row */
		flex-wrap: wrap;				/* Setting flex wrap */
		justify-content: space-around;	/* Alligning flexible items to have space around them */
		
	}
	.toy {								/* Styling the toy class */
		background-color: red;			/* Setting red background color */
		margin-bottom: 6px;				/* Adding a 6 pixel margin to the bottom */
		padding: 3px;					/* Adding 3 pixel padding */
		width: 31%;						/* Setting a width of the toy class to 31% */
		font-family: arial;				/* Setting font type to arial */

	}

	.ToyName{							/* Styling the toy name span class */
		text-align: center;				/* Setting the toy name to be alligned in the centre */
		font-weight: bold;				/* Setting the toy name to bold */
		font-size: 22px;				/* Setting the font size to 22 pixels */
		color: white;					/* Setting the font color to white  */
	}


	.ToyPrice {							/* Styling the toy price span class */
		font-weight: bold;				/* Setting the toy price to bold  */
		text-decoration: underline;		/* Underlining the toy price */
	}

}

/*------------------------------------End of CSS for View Toys Page--------------------------------------*/


/*-----------------------------------------CSS for Admin Page--------------------------------------------*/

/*------------------------------------------Creating Grid Layout-----------------------------------------*/

@media screen and (min-width: 320px) and (max-width:767px) {	/* Media Query for screens smaller than 425px (Base mobile styling)*/
		.gridContainerAdmin{					/* specifying grid layout design*/							
		display: grid;
		grid-gap: 25px;					/* setting a 20 pixel gap between grid cells*/
		grid-template-rows: auto;		/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 4fr; /* setting width of the columns*/
		grid-template-areas:
			"header"			/* setting 1 column, 4 rows*/	
			"nav"
			"main"
			"footer";
		}
			/* assigning HTML items into the named grid template areas*/
			header {				
				grid-area:header;				
				background-color: red;			/* Setting background color to red */
			}

			nav {
				grid-area:nav;
				font-family: arial;				/* Setting font to arial */
				font-size: 24px;				/* Setting text size to 24 pixels */
				text-align: center;				/* Alligning text to centre */
				background-color: red;			/* Setting background color to red */
			}
			
			
			main{
				grid-area:main;
				background-color: white;		/* Setting background color to white */
				font-family: arial;				/* Setting font to arial */

			}

			footer {
				grid-area:footer;
				font-family: arial;				/* Setting font to arial */
				padding-left: 5px;				/* Adding a 5 pixel padding to the left side*/
				color: white;					/* Setting text color to white */
				background-color: red;			/* Setting background color to red */
			}
			
			/* Styling HTML form */
			
		legend {						/* Styling legend of HTML form */					
			background-color: red;		/* Setting background color of legened label */
			color: white;
			font-size: 37px;	
			text-shadow: 3px 3px 5px grey;			/* Adding a grey shadow to text*/
			font-family: Arial;
			text-align: center;
			font-weight: bold;
		}

		.formGrid {						/* Placing formGrid container to be able to style HTML form easier */
			margin: auto;				/* Positioning the form in the centre of the screen */
			width: 96%;
			background-color: red;		
			display: grid;
			grid-template-columns: 0.5fr 3.5fr;		/* Allocating the width for the two columns  */
			grid-gap: 10px;				/* Adding a 10 pixel gap between grid elements*/
			padding: 10px;
			padding-left: 1px;
		}

		label{							/* Styling labels in HTML form  */
			grid-column: 1/2;			/* Setting the grid column size to half */
			padding-left: 10px;
			font-weight: bold;
			font-family: Arial;
			color: white;
		}

		input{
				grid-column: 2/3;		/* Allocating the size of the input to two thirds */
		}

		input[type=submit]{				/* Styling submit button  */
			font-weight: bold;
			margin-left: 70%;			/* Positioning button on the left corner of form */
			width: 30%;
			background-color: white;
		}
		
		fieldset{						/* Styling the fieldset of HTML form */
			min-width:auto;
			border:0px;					/* Removing generic fieldset border */
			margin-top: 17%;
			margin-bottom: 18%;
		}	
}
	
@media screen and (min-width: 768px) and (max-width:1023px) {	/* Media Query for screens smaller than 768px*/
		.gridContainerAdmin{					/* specifying grid layout design*/									
		display: grid;				
		grid-gap: 10px;					/* setting a 10 pixel gap between grid cells*/
		grid-template-rows: auto;		/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 1fr 3fr; /* setting width of the columns*/
		grid-template-areas:		
			"header nav"			/* setting 2 columns, 3 rows*/
			"main main"
			"footer footer";
		}
			
			/* assigning HTML items into the named grid template areas*/
			header {
				grid-area:header;
			}

			nav {
				grid-area:nav;
				font-family: arial;				/* Setting font to arial */
				text-align: center;				/* Alligning text to centre */
				background-color: red;			/* Setting background color to red */
			}
			

			main{
				grid-area:main;
				background-color: white;		/* Setting background color to white */
				font-family: arial;				/* Setting font to arial */

			}

			footer {
				grid-area:footer;
				color: white;					/* Setting text color to white */
				font-family: arial;				/* Setting font to arial */
				background-color: red;			/* Setting background color to red */
			}
			
			
/* Styling HTML form */
			
		legend {
			background-color: red;				/* Setting background color to red */
			color: white;						/* Setting text color to white */
			font-size: 32px;					/* Setting font size to 32 pixels */	
			font-family: Arial;					/* Setting font to arial */
			text-align: center;					/* Alligning text to centre */
			font-weight: bold;					/* Setting text to bold */
		}

		.formGrid {								/* Styling formGrid class */
			margin: auto;						/* Centering class */
			width: 96%;							/* Setting width to 96% */
			background-color: red;				/* Setting background color to red */
			display: grid;						/* Setting display to grid */
			grid-template-columns: 0.5fr 3.5fr; /* Setting size of columns */
			grid-gap: 10px;						/* Setting a 10 pixel grid gap */
			padding: 10px;						/* Setting a 10 pixel padding */
			padding-left: 1px;					/* Adding a 1 pixel padding to the left */
		}
	
		label{									/* Styling labels of form */
			grid-column: 1/2;					/* Setting size of label column to 1/2 */
			padding-left: 10px;					/* Adding a 10 pixel padding to the left */
			font-weight: bold;					/* Setting text to bold */
			font-family: Arial;					/* Setting font to arial */
			color: white;						/* Setting text color to white */
		}

		input{									/* Setting size of input column to 2/3 of the form */
				grid-column: 2/3;

		}
		
		input[type=submit]{						/* Styling the input button */
			font-weight: bold;					
			margin-left: 75%;					/* Positioning button */
			width: 25%;							/* Setting width of button */
		}

		fieldset{								/* Styling fieldset of HTML form */
			min-width:auto;						/* sizing */
			border:0px;
			margin-top: 17%;					/* positioning*/
			margin-bottom: 18%;
			
		}

}
@media screen and (min-width: 1024px) {	/* Media Query for screens 768px pixels or larger**/
		.gridContainerAdmin{									/* specifying grid layout design*/						
		display: grid;
		grid-gap: 10px;									/* setting a 10 pixel gap between grid cells*/
		grid-template-rows: auto;						/* setting height of rows to whatever the height of the content is*/
		grid-template-columns: 0.7fr 1.5fr 1.5fr;		/* setting width of the columns*/
		grid-template-areas:
			"header nav nav"							/* setting 3 columns, 3 rows*/
			"main main main"
			"footer footer footer";
		}

			/* assigning HTML items into the named grid template areas*/
			header {
				grid-area:header;
			}

			nav {
				grid-area:nav;		
				font-family: arial;						/* Setting font type to arial */
				text-align: center;						/* Centering the text */
				background-color: red;					/* Setting background color to red */
			}

			main{
				grid-area:main;
				background-color: white;				/* Setting background color to white */
				font-family: arial;						/* Setting font type to arial */

			}

			footer {
				grid-area:footer;
				color: white;							/* Setting text color to white */
				font-family: arial;						/* Setting font type to arial */
				background-color: red;					/* Setting background color to red */
			}
			
/* Styling HTML form */
			
		legend {					/* Styling legend of HTML form */
			background-color: red;	
			color: white;			/* Setting text color to white */
			font-size: 32px;		/* Setting text size */
			font-family: Arial;
			text-align: center;
			font-weight: bold;		/* Styling text */
			padding: 10px;			/* Adding padding to legend */
		}

		.formGrid {					/* Styling form grid */
			margin: auto;			/* Setting margin to auto */
			width: 50%;
			background-color: red;
			display: grid;							/* Setting display to grid */
			grid-template-columns: 0.5fr 3.5fr;		/* Setting column sizes  */
			grid-gap: 20px;							/* Adding a 20 pixel grid gap */
			padding: 10px;
			padding-left: 1px;
			margin-top: 1%;
		}

		label{									/* Styling label of HTML form */
			grid-column: 1/2;					/* Setting size of label column to 1/2 */
			padding-left: 10px;					/*  Adding a 10 pixel padding to the left*/
			font-weight: bold;					/* Setting text to bold */
			font-family: Arial;					/* Setting font type to arial */
			color: white;						/* Setting color of text to white */
		}

		input{									/* Setting size of input column to 2/3 of the form */
				grid-column: 2/3;

		}
		
		input[type=submit]{						/* Styling the input button */
			font-weight: bold;
			margin-left: 75%;					/* Positioning button */
			width: 25%;							/* Setting width of button */
		}

		fieldset{								/* Styling fieldset of HTML form */
			min-width:auto;						/* Sizing */
			border:0px;	
			margin-top: 9%;						/* positioning */
			margin-bottom: 10%;
		}
		
}

/*-----------------------------------------End of CSS for Admin Page--------------------------------------------*/


/*-------------------------------------------CSS for credits Page-----------------------------------------------*/


.credits p {
	font-size: 16px;	/* Setting font size for credits page paragraphs */	
}

.security p {
	font-size: 16px;	/* Setting font size for credits page security paragraphs */
}

/*-----------------------------------------End of CSS for credits Page-------------------------------------------*/